.clickable {
  cursor: pointer;
}
/* Sandbox CSS */
html,
body {
  height: 100%;
}
app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
header {
  flex: 0 1 auto;
  max-height: 80px;
}
main {
  flex: 1 1 auto;
  position: relative;
  height: calc(20%);
}
main section {
  width: 80%;
  margin: 0 auto;
}
main > #results > ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}
main > #results > ul > li {
  padding: 6px 0;
}
result .count-badge {
  padding: 2px 4px;
  background-color: #5bc0de;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  font-weight: bold;
}
result ul.result-items {
  padding-left: 20px;
  margin-left: 10px;
  list-style: none;
}
result ul.result-items > li {
  display: table-row;
}
result ul.result-items > li > span.result-key,
result ul.result-items > li > span.result-value {
  display: table-cell;
}
result ul.result-items .result-key {
  color: #d9534f;
  padding-right: 25px;
}
result ul.result-items .result-value.result-string {
  color: #5cb85c;
}
result ul.result-items .result-value.result-string::before,
result ul.result-items .result-value.result-string::after {
  content: '"';
}
result ul.result-items .result-value.result-number {
  color: #337ab7;
}
result ul.result-items .result-value.result-boolean {
  color: #f0ad4e;
  font-weight: bold;
}
result ul.result-items .result-separator {
  color: #000000;
}
footer {
  flex: 0 1 40px;
}
